<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>Document View</title>
    <link rel="stylesheet" href="{% static 'sdms/sdms.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <a>Inbox</a> <span class="badge">2</span>
        <a>Search</a>
        <a>Settings</a>
        <a>Logout</a>
      </nav>
    </header>
    <main class="document">
      <div id="preview">
        <img src="{% url 'preview' document.id 1 %}"></img>
      </div>
      <div id="attributes">
        <section>
          <h1>Document Properties</h1>
          <p>ID: {{document.id}} created {{document.created_at}}</p>
          <p>Subject: <span class="subject">{{document.subject}}</span></p>
          <p>Status: {{document.status}}</p>
          <p>{{document.pages}} pages</p>
          <p>Date: {{document.document_date}}</p>
        </section>
        <section>
          <h1>Selected Tags</h1>
          <ul id="tags">
            {% for tag in document.tags.all %}
            <li style="background-color:{{tag.fill_color}};color:{{tag.text_color}};border-color:{{tag.text_color}}">{{tag}}</li>
            {% endfor %}
          </ul>
        </section>
        <section>
          <h1>Available Tags</h1>
          <ul id="tags">
            {% for tag in tags %}
            <li style="background-color:{{tag.fill_color}};color:{{tag.text_color}};border-color:{{tag.text_color}}">{{tag}}</li>
            {% endfor %}
          </ul>
        </section>
        <section>
          <h1>Text</h1>
          <pre>{{document.pdf_text}}</pre>
          <h1>OCR</h1>
          <pre>{{document.ocr_text}}</pre>
        </section>
      </div>
    </main>
  </body>
</html>
