<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>Document View</title>
    <link rel="stylesheet" href="{% static 'sdms/sdms.css' %}">
    <style>
    {% for tag in tags %}
    .T{{ tag.id }}{ background-color: {{tag.fill_color}}; color: {{tag.text_color}}; border-color: {{tag.border_color}};}
    {% endfor %}
    </style>
    <script src="{% static 'sdms/color.js' %}"></script>
  </head>
  <body>
    <header>
      <nav>
        <a>Inbox</a> <span class="badge">2</span>
        <a>Search</a>
        <a>Settings</a>
        <a>Logout</a>
      </nav>
    </header>
    <main class="document">
      <div id="preview">
        <img src="{% url 'preview' document.id 1 %}"></img>
      </div>
      <div id="attributes">
        <form method="post">{% csrf_token %}
          <section>
            <h1>Document Properties</h1>
            <p>ID: {{document.id}}</p>
            <p>created: {{document.created_at}}</p>
            <p>{{ document.pages }} pages</p>
            <p>{{ form.subject.errors }}{{ form.subject.label_tag }}{{ form.subject }}</p>
            <p>{{ form.document_date.errors }}{{ form.document_date.label_tag }}{{ form.document_date }}
              {% for d in date_suggestions %}
                <button type="button" onclick="document.getElementById('{{ form.document_date.id_for_label }}').value='{{ d|date:'Y-m-d' }}';">{{ d|date:'Y-m-d' }}</button></li>
              {% endfor %}
            </p>
            <p>{{ form.document_amount.errors }}{{ form.document_amount.label_tag }}{{ form.document_amount }}</p>
            <p>{{ form.tags.errors }}{{ form.tags.label_tag }}
            <span class="tagbox" id="doctags">
              {% for tag in form.tags %}
                <input type="checkbox" class="cbtag" value="{{ tag.data.value }}" id="{{ tag.id_for_label }}" name="{{ tag.data.name }}" {% if tag.data.attrs.checked %}checked{% endif %}>
                <label for="{{ tag.id_for_label }}" class="tag T{{ tag.data.value }}" >{{ tag.choice_label }}</label>
              {% endfor %}
            </span></p>
          </section>
          <section>
            <h1>Process Document</h1>
            <div>
              <button name="{{ form.status.name }}" type="submit" value="HF">Save to Hold File</button>
              <button name="{{ form.status.name }}" type="submit" value="AR">Save and Archive</button>
            </div>
          </section>
        </form>
        <section>
          <h1>Available Tags</h1>
          <span class="tagbox" id="availabletags">
            {% for tag in form.tags %}
              <label for="{{ tag.id_for_label }}" class="tag T{{ tag.data.value }}" >{{ tag.choice_label }}</label>
            {% endfor %}
          </span>
          <form id="newtagform" action="{% url 'addtag' %}" method="post">{% csrf_token %}
            <p>New Tag: <span class="tag" id="newtag" style="color:{{ tag_form.text_color.value }};background-color:{{ tag_form.fill_color.value}}">{{ tag_form.name }}: {{ tag_form.subtag }}</span></p>
            <p>{{ tag_form.fill_color.label_tag }}{{ tag_form.fill_color }}
            {{ tag_form.text_color.label_tag }}{{ tag_form.text_color }}</p>
            <p><button type="submit">Add Tag</button></p>

            <script>
                document.getElementById('{{ tag_form.fill_color.id_for_label }}').addEventListener('change', () => {
                  document.getElementById('newtag').style.backgroundColor = document.getElementById('{{ tag_form.fill_color.id_for_label }}').value;
                  document.getElementById('newtag').style.borderColor = borderColor(document.getElementById('{{ tag_form.fill_color.id_for_label }}').value);
                });
                document.getElementById('{{ tag_form.text_color.id_for_label }}').addEventListener('change', () => {
                  document.getElementById('newtag').style.color = document.getElementById('{{ tag_form.text_color.id_for_label }}').value;
                });
                document.getElementById('newtag').style.backgroundColor = document.getElementById('{{ tag_form.fill_color.id_for_label }}').value;
                document.getElementById('newtag').style.borderColor = borderColor(document.getElementById('{{ tag_form.fill_color.id_for_label }}').value);
                document.getElementById('newtag').style.color = document.getElementById('{{ tag_form.text_color.id_for_label }}').value;
            </script>
          </form>
        </section>
        <label for="showtext">Show recognized text in document</label>
        <input id="showtext" class="toggle" checked type="checkbox"></input>
        <section>
          <h1>Text</h1>
          <pre>{{document.pdf_text}}</pre>
          <h1>OCR</h1>
          <pre>{{document.ocr_text}}</pre>
        </section>
      </div>
    </main>
    <script src="{% static 'sdms/newtag.js' %}"></script>
  </body>
</html>
