{% extends 'sdms/base.html' %}
{% load static %}

{% block xhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'sdms/upload.css' %}" />
    <script src="{% static 'sdms/upload.js' %}"></script>
{% endblock %}

{% block main %}
    <main>
      <section>
        <h1>Workflow Status</h1>
      <div class="workflow">
        <h1>Untreated</h1>
        {{document_count.UT}} documents in queue.
      </div>
      <span class="arrow">&#10132;</span>
      <a href="{% url 'inbox' %}">
      <div class="workflow">
        <h1>Inbox</h1>
        {{document_count.IN}} documents ready for classification.
      </div></a>
      <span class="arrow">&#10132;</span>
      <a href="{% url 'holdfile' %}">
      <div class="workflow">
        <h1>Hold File</h1>
        {{document_count.HF}} documents to be treated.
      </div></a>
      <span class="arrow">&#10132;</span>
      <a href="{% url 'archive' %}">
      <div class="workflow">
        <h1>Archive</h1>
        {{document_count.AR}} documents archived.
      </div></a>
      </section>
      <section>
        <h1>Search Documents</h1>
        {% include 'sdms/search_form.html' %}
      </section>
      <section>
        <h1>Upload Documents</h1>
        <form action="{% url 'upload' %}" id="ulform" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input class="ul_file" type="file" name="documents" id="file" multiple />
          <label for="file"><strong>Choose files</strong><span class="ul_drop"> or drop here </span>.</label>
        <button>Upload</button>
      </form>
      </section>
    </main>
{% endblock %}
