body {
  font-family: sans-serif;
}

main.document {
  display: flex;
}

header {
  height:5px;
  background: #dfd;
  padding: 5px;
}

header:hover {
  height:auto;
}

h1 {
  font-size: large;
}

span.subject {
  font-weight: bold;
}

div#preview {
  height: 100vh;
  overflow: scroll;
  fill: grey;
  flex: 1
}

div#attributes {
  flex: 1;
  margin: 2em;
}

div#preview > img {
}

.tag {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.3em;
  padding: 0.4em;
  margin: 0.2em;
  white-space: nowrap;
  font-weight: bold;
  font-size: smaller;
}

.badge {
  display: inline-block;
  color: white;
  background: #f00;
  border-radius: 0.3ex;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: smaller;
}

.workflow {
  display: inline-block;
  background: #bbf;
  border-radius: 1em;
  padding: 2em;
}

.toggle {
  display: none
}

.toggle:checked + * {
  display: none;
}

button[type="submit"]{
  padding: 1ex 2em;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  background-color: green;
}

button[value="HF"]{
  background-color: orangered;
}

.tagbox {
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  min-height: 5ex;
  min-width: 20em;
}

.cbtag {
  display: none;
}
.cbtag + label {
   display: none;
}
.cbtag:checked + label {
  display: inline-block;
}

.tag > input {
  background-color: inherit;
  font: inherit;
  color: inherit;
  border: 1px solid black;
}

.newly-added {
  animation: flyin 1s ease forwards;
  opacity: 0;
  transform: scale(4);
  filter: blur(4px);
}

@keyframes flyin {
   to {
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}
