body {
  font-family: sans-serif;
}

header {
  background: #dfd;
  padding: 5px;
}

h1 {
  font-size: large;
}

span.subject {
  font-weight: bold;
}


div#preview, div#attributes {
  width: 50%
}

div#attributes {
  padding: 2em;
}

main.document {
  display: flex;
  flex-direction: row;
}

@media(max-width: 768px){
  div#preview, div#attributes {
    width: 100%
  }

  main.document {
    flex-direction: column;
  }
}

.tag {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.3em;
  padding: 0.4em;
  margin: 0.2em;
  white-space: nowrap;
  font-weight: bold;
  font-size: smaller;
}

.smtag {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 0 4px;
  margin: 2px;
  white-space: nowrap;
  font-size: small;
}

.badge {
  display: inline-block;
  color: white;
  background: #f00;
  border-radius: 0.3ex;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: smaller;
}

.workflow {
  display: inline-block;
  background: #bbf;
  border-radius: 1em;
  padding: 2em;
}

.toggle {
  display: none
}

.toggle:checked + * {
  display: none;
}

.doctn {
  border: 1px solid grey;
}

button[type="submit"]{
  padding: 1ex 2em;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  background-color: green;
}

button[value="HF"]{
  background-color: orangered;
}

.tagbox {
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  min-height: 5ex;
  min-width: 20em;
}

.cbtag {
  display: none;
}
.cbtag + label {
   display: none;
}
.cbtag:checked + label {
  display: inline-block;
}

.tag > input {
  background-color: inherit;
  font: inherit;
  color: inherit;
  border: 1px solid black;
}

.newly-added {
  animation: flyin 1s ease forwards;
  opacity: 0;
  transform: scale(4);
  filter: blur(4px);
}

@keyframes flyin {
   to {
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}

#newtagform {
  box-shadow: 1px 1px 4px gray;
  padding: 2px 1em 2px 1em;
  margin-bottom: 5px;
  width: fit-content;
}

#pages {
  overflow-x: scroll;
  white-space: nowrap;
  border: 1px solid grey;
}
img.pagetn{
  margin: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px grey;
}

#pagebox {
  overflow: scroll;
}
#page {
  width:100%;
}
#id_subject {
  width: 40vw;
}
